<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="logFile" value="<log path>" />
    <add key="formConnString" value="Server='<ip>,<port>'; Database = <DBName>; user=<user>;password=<pass>;" />
    <add key="toConnString" value="Server='<ip>,<port>'; Database = <DBName>; user=<user>;password=<pass>;" />
    <add key="from_tables" value="<TabName>" />
    <add key="to_tables" value="<TabName>" />
    <add key="fromDbName" value="<DBName>" />
    <add key="toDbName" value="<DBName>" />
    <add key="CountCheckRecord" value="10" />
    <add key="ScanPeriod_Ms" value="5000" />
  </appSettings>
</configuration>